* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
@font-face {
  src: url("./fonts/Questrial-Regular.ttf");
  font-family: "Questrial";
}
html {
  background-color: rgb(247, 247, 247);
  font-family: "Questrial";
}

/*CARTS*/
.carts {
  width: 100%;
  height: 100vh;
  position: fixed;
  right: -100%;
  z-index: 25;
  background-color: white;
  transition: all 0.5s ease;
  overflow-y: scroll;
}
.exit {
  position: absolute;
  right: 30px;
  top: 30px;
  font-size: 1.5em;
  color: gray;
}
.carts-info {
  margin: 70px 100px 0px 100px;
  display: flex;
  background-color: black;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 20px;
}
.carts-product {
  width: 45%;
}
.carts-price {
  width: 20%;
}
.carts-description {
  width: 20%;
}
.carts-quantity {
  width: 10%;
}
.cart-in-total {
  display: flex;
  justify-content: flex-end;
  padding: 0.5em 0em;
  margin: 0 100px;
  border-top: 1px solid black;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 30px;
}
.cart-in-total span {
  margin: 0 0.2em;
}
.shopping-carts-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shopping-carts-img img {
  width: 300px;
}
.order-products {
  display: flex;
  justify-content: flex-end;
  margin: 0px 100px;
}
.order-btn {
  font-size: 1.3em;
  padding: 8px 12px;
  margin-bottom: 30px;
  border: none;
  background-color: black;
  color: white;
}
.order-btn:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}
.cart-row {
  display: flex;
  width: 86.8%;
  height: 130px;
  margin: 0px 100px;
  border-bottom: 1px solid black;
}
.cart-item {
  display: flex;
  align-items: center;
  width: 45%;
}
.cart-price {
  width: 20%;
  display: flex;
  align-items: center;
  font-size: 1.3em;
  font-weight: bold;
}
.cart-quantity {
  width: 10%;
  display: flex;
  align-items: center;
}
.cart-item-description {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cart-quantity input[type=number] {
  padding: 5px;
  font-size: 1.3em;
  font-weight: bold;
  width: 50px;
  margin-right: 10px;
  border-color: lightgray;
}
.cart-item-image {
  width: 130px;
}
.cart-item-title {
  font-weight: bold;
  font-size: 1.4em;
  margin-left: 30px;
}
.btn-remove {
  background-color: white;
  border: none;
}
.fa-trash {
  font-size: 2em;
}
.fa-trash:hover {
  cursor: pointer;
  color: red;
}
.fa-trash-alt {
  font-size: 1.5em;
  padding-bottom: 10px;
}
.delete-all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
}
.delete-all span {
  font-size: 0.5em;
  color: red;
}
.fa-trash-alt:hover {
  color: red;
}

/*BTN GO UP*/
.btn-up {
  /*display: none;*/
  position: fixed;
  right: 50px;
  bottom: 50px;
  border: 2px solid gray;
}
.btn-up:hover {
  border-color: black;
}
.btn-up i {
  font-size: 2em;
  padding: 7px;
  color: gray;
}
.btn-up:hover i {
  color: black;
}
.visible {
  display: block;
}

/*NAVBAR*/
.content {
    max-width: 1250px;
    margin: auto;
    padding: 0 30px;
}
.navbar {
    position: fixed;
    width: 100%;
    z-index: 20;
    padding: 25px 0px;
    transition: all 0.3s ease;
}
.sticky {     /*Ova klasa ce da bude dodata naknadno preko JS*/
    background-color: black;
    padding: 10px 0px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}
.navbar.sticky a {
  color: white;  /*Ova klasa se dodaje na navbar*/
}
.navbar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a {
    color: black;  
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}
.white {       /*Dodajemo preko JS*/
  color: white;
}
.navbar .menu-list {
    display: flex; 
    align-items: center;
}
.menu-list li {
    list-style-type: none;
}
.menu-list li a {
    color: black; 
    font-size: 18px;
    font-weight: bold;
    margin-left: 25px;
    text-decoration: none;
}
.menu-list li a:hover {
    border-bottom: 2px solid;
}
.probna-slika {     
    background: url("images/pocetnaImg/livningRoom.jpg") no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}
.start-text {
  background-color: rgba(255, 255, 255, 0.2);;
  border: 1px solid white;
  border-radius: 10px;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 15%;
  left: 35%;
}
.start-text:hover {
  cursor: pointer;
  background-color: transparent;
}
.start-text .p1 {
  font-size: 2.5em;
  font-weight: bold;
  color: rgb(180, 180, 180);;
  padding: 0.5em 0.5em 0em 0.5em;
}
.start-text .p2 {
  font-size: 1.5em;
  color: rgb(180, 180, 180);;
}
.start-text .p3 {
  font-size: 1.5em;
  color: rgb(180, 180, 180);
  padding-bottom: 0.5em;
}
.start-text span {
  color: black;
}
.icon {
    display: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.menu-list .cancel-btn {
    position: absolute;
    right: 30px;
    top: 30px;
}
.fa-shopping-bag {
  font-size: 25px;
  position: relative;
}
.brojac-proizvoda {
  position: absolute;
  font-size: 0.7em;
  color: red;
  top: -15px;
  margin-top: 5px;
}

/*KONVERTER VALUTA*/
.converter-wrapper {
  margin: 0px 100px;
  display: flex;
  justify-content: flex-end;
}
.converter-inner h2 {
  text-align: center;
  margin: 20px 0px;
  font-size: 1.7em;
  letter-spacing: 5px;
}
.input-converter {
  padding: 7px;
  font-size: 1.2em;
}
.select-converter {
  padding: 7px;
  font-size: 1.2em;
}
.equal {
  font-size: 3em;
}

/*MAIN SECTION*/
.categories h1 {
  text-align: center;
  padding: 1em;
  color: gray;
}
.section-wrapper {
  margin: 0 100px;
}
.section-inner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section-inner div {
  width: 420px;
  position: relative;
  overflow: hidden;
  margin: 10px 5px;
}
.section-inner div img {
  width: 100%;
  transition: all 0.6s ease;
}
.section-inner div img:hover {
  transform: scale(1.1);
}
.section-inner p {
  position: absolute;
  font-size: 2em;
  font-weight: bold;
  color: gray;
  top: 10px;
  left: 50px;
  z-index: 10;
}

/*FILTER MENU*/
.filters-title {
  text-align: center;
  color: gray;
  margin: 10px;
}
.empty-div {
  height: 150px;
}
.filter-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 100px;
  background-color: rgb(233, 233, 233);
}
.filter-menu div {
  margin: 0 20px;
  padding: 10px 20px;
}
.custom-select {
  color: gray;
  font-size: 1.1em;
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  cursor: pointer;
  background-color: #ffffff;
}
.custom-select:focus, .custom-select:hover {
  outline: none;
  border: 1px solid #ffffff;
}
input[type=search] {
  font-size: 1.1em;
  padding: 9px 13px;
  border: none;
  border-radius: 5px;
}
input[type=search]:focus {
  outline: none;
}
input[type=checkbox] {
  height: 20px;
  width: 20px;
  cursor: pointer;
}
#uRadnji-Online li {
  list-style-type: none;
}


/*PRODUCTS PAGES*/
.naslov h1 {
  text-align: center;
  padding-top: 50px;
  color: gray;
}
.products-wrapper {
  margin: 0 100px;
  padding: 50px 0 0 0;
}
.products-inner-livingroom,
.products-inner-bedroom,
.products-inner-bathroom,
.products-inner-kitchen,
.products-inner-garden,
.products-inner-workroom {
  width: 100%;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-evenly;    
}
.shopping-card {
  background-color: white;
  border: 2px solid rgb(224, 224, 224);
  height: 390px;
  width: 260px;
  margin: 10px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.shopping-card:hover {
  border-color: black;
}
.shopping-card .small-img {
  width: 250px;
}
.shopping-card .big-img {
  width: 150px;
}
.shopping-card .very-big-img {
  width: 90px;
}
.shopping-card h3 {
  margin-top: 5px;
}
.shopping-card .btn, .details-btn {
  font-weight: bold;
  width: 50%;
  padding: 6px 10px;
  display: flex;
  justify-content: center;

  margin: 0px 3px 5px 3px;
  border: 1px solid black;

}
.shopping-card .btn:hover, .details-btn:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.products-buttons {
  display: flex;
  width: 88%;
}
.boldovano {
  font-weight: bold;
}
.boldovanaCena {
  font-size: 1.2em;
}

/*DETAILS DIV*/
.blurred-div {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  backdrop-filter: blur(8px);  /*blur background*/
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -100%;
}
.details-inner {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 60%;
  height: 70%;
  background-color: white;
  border: 2px solid gray;
}
.details-inner .fa-times {
  position: absolute;
  z-index: 200;
  font-size: 1.4em;
  right: 10px;
  top: 5px;
}
.details-img {
  width: 60%;
}
.details-info {
  width: 40%;
  margin: 0px 50px;
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.details-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.details-img img {
  width: 90%;
}
.details-info .details-price {
  font-size: 1.4em;
  padding: 8px 12px;
  display: flex;
  justify-content: flex-end;
}
.details-info span {
  font-weight: bold;
}
.details-stars {
  font-size: 1.3em;
}


/*SUBMENU CATEGORIES*/
.sub-menu {
  text-align: center;
  color: gray;
  padding: 20px 0px;
}
.sub-menu-wrapper {
  display: flex;   
  justify-content: center;  
  flex-wrap: wrap;
}
.sub-menu-wrapper div {
  padding-bottom: 20px;
  margin: 0 15px;
}
.sub-menu-wrapper div img {
  width: 200px;
}
.sub-menu-wrapper div img {
  border: 2px solid transparent;
}
.sub-menu-wrapper div img:hover {
  border: 2px solid gray;
}
.sub-menu-wrapper div h3 {
  text-align: center;
  color: gray;
}


/*CONTACT FORM*/
.wrapper-of-form {
  display: flex;
}
.wrapper-form-side, .form-loginBy {
  display: flex;
  justify-content: center;
  width: 50%;
}
.form-loginBy {
  flex-direction: column;
  align-items: center;
}
.form-loginBy div:hover a {
  color: red;
}
.form-loginBy div {
  display: flex;
  align-items: center;
  width: 35%;
  height: 3em;
  border: 2px solid black;
  margin: 0.3em 0;
}
.form-loginBy div a {
  color: black;
  text-decoration: none;
}
.google, .facebook, .apple {
  font-size: 2em;
  margin: 0 0.5em;
}
.form-middle {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper{
    width: 70%;
    overflow: hidden;
    background: #fff;
    padding: 30px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.5);
  }
  .wrapper .title-text{
    display: flex;
    width: 200%;
  }
  .wrapper .title{
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  .wrapper .slide-controls{
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgrey;
  }
  .slide-controls .slide{
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
  }
  .slide-controls label.signup{
    color: #000;
  }
  .slide-controls .slider-tab{
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(185,185,185,1) 100%);
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  input[type="radio"]{
    display: none;
  }
  #signup:checked ~ .slider-tab{
    left: 50%;
  }
  #signup:checked ~ label.signup{
    color: #fff;
    cursor: default;
    user-select: none;
  }
  #signup:checked ~ label.login{
    color: #000;
  }
  #login:checked ~ label.signup{
    color: #000;
  }
  #login:checked ~ label.login{
    cursor: default;
    user-select: none;
  }
  .wrapper .form-container{
    width: 100%;
    overflow: hidden;
  }
  .form-container .form-inner{
    display: flex;
    width: 200%;
  }
  .form-container .form-inner form{
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  .form-inner form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative; /*Zbog font-awesome*/
  }
  .form-inner form .field input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
  }
  .form-inner form .field input:focus{
    border-color: rgb(47, 148, 243);
  }
  .form-inner form .field input::placeholder{
    color: #999;
    transition: all 0.3s ease;
  }
  form .field input:focus::placeholder{
    color: #b3b3b3;
  }
  .form-inner form .pass-link{
    margin-top: 5px;
  }
  .form-inner form .signup-link{
    text-align: center;
    margin-top: 30px;
  }
  .form-inner form .pass-link a,
  .form-inner form .signup-link a{
    color: rgb(47, 148, 243);
    text-decoration: none;
  }
  .form-inner form .pass-link a:hover,
  .form-inner form .signup-link a:hover{
    text-decoration: underline;
  }
  form .btn{
    height: 50px;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  form .btn .btn-layer{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(185,185,185,1) 100%);
    border-radius: 5px;
    transition: all 0.4s ease;;
  }
  form .btn:hover .btn-layer{
    left: 0;
  }
  form .btn input[type="submit"]{
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    padding-left: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
  }
  .fa-check-circle, .fa-times-circle {   /*Ovo ce da se pojavljuje samo ako je regex ispravan*/
    position: absolute;
    right: 10px;
    top: 14px;
    font-size: 20px;
    display: none;
  }
  .fa-check-circle {
    color: green;
  }
  .fa-times-circle {
    color: red;
  }
  .fa-eye-slash, .fa-eye {
    position: absolute;
    right: 60px;
    top: 27%;
    font-size: 1.5em;
    color: gray;
  }
  .fa-eye-slash:hover, .fa-eye:hover {
    cursor: pointer;
  }
  .fa-eye-slash {
    display: none;
  }
.require-msg, .require-msg-signup {
  margin: 10px 0px;
  display: none;
}

/*SEND MESSAGE PAGE*/
.contact-page-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.contactUs-div {
  width: 500px;
}
.message-form {
  display: flex;
  flex-direction: column;
}
.message-form div {
  margin: 8px 0px;
  width: 100%;
}
.message-form div input, .message-form div textarea {
  width: 100%;
  border: 2px solid lightgray;
  padding: 10px;
}
.message-submit-div {
  display: flex;
  justify-content: flex-end;
}
.message-submit {
  border: none;
  background-color: black;
  color: white;
  padding: 8px 12px;
  border: 1px solid transparent;
}
.message-submit:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}
.message-form input::placeholder, .message-form textarea {
  font-size: 1.2em;
}
.contact-info td {
  font-size: 1.2em;
  padding: 17px 0px;
}
.contact-info td i {
  font-size: 1.3em;
}

/*FOOTER*/
footer {
  display: flex;
  background-color: black;
  color: white;
}
footer div {
  width: 50%;
  display: flex;
  justify-content: center;
}
footer div p {
  padding: 1.2rem 0rem;
}
footer div p span {
  color: rgb(47, 148, 243);;
}
footer div img {
  width: 4rem;
  padding: 0.6em 0.2em;
}

/*INFO*/
.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.info div {
  width: 200px;
  padding: 3em 0em;
  text-align: center;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info div i {
  font-size: 3em;
  margin-bottom: 0.5em;
}
.div-line {
  margin: 40px 100px 0px 100px;
  border-bottom: 2px solid lightgray;
}
/*SOCIAL NETWORK*/
.social-network {
  display: flex;
  justify-content: center;
  padding: 0.5em 0em;
}
.social-network i {
  font-size: 2.5em;
  color: black;
  margin: 0em 0.2em;
}
.social-network .fa-instagram-square {
  color: #E1306C;
}
.social-network .fa-facebook-square {
  color: #4267B2;
}
.social-network .fa-twitter-square {
  color: #1DA1F2;
}
.social-network .fa-pinterest-square {
  color: #E60023;
}
.social-network .fa-youtube-square {
  color: #FF0000;
}
.social-network .fa-google-plus-square {
  color: #4285F4;
}



/*RESPONSIVE*/
@media screen and (max-width: 1230px) {
    .content {
        padding: 0px 60px;
    }
}
@media screen and (max-width: 1100px) {
    .content {
        padding: 0px 40px;
    }
}
@media screen and (max-width: 900px) {
    .content {
        padding: 0px 30px;
    }
}
@media screen and (max-width: 768px) {
    body.disabled {       /*Ovo ce da bude aktivirano sa JS*/
        overflow: hidden;
    }
    .icon {
        display: block;
    }
    .icon.hide {
        display: none;  /*Ovo ce da bude aktivirano sa JS*/
    }
    .navbar .menu-list {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0px;
        display: block;
        padding: 40px 0px;
        text-align: center;
        background-color:black;
        transition: all 0.3s ease;
    }
    .navbar.show .menu-list {    /*Ovo ce da bude kasnije aktivirano*/
        left: 0%;
    }
    .navbar .menu-list li {
        margin-top: 45px;
    }
    .navbar .menu-list li a {
        font-size: 23px;
        margin-left: -100%;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .navbar.show .menu-list li a {
        margin-left: 0px;
    }
    .section-wrapper {
      margin: 0px 0px;
    }
    .products-wrapper {
      margin: 0px 0px;
    }
}