* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
html {
  background-color: rgb(247, 247, 247);
}

/*NAVBAR*/
.content {
    max-width: 1250px;
    margin: auto;
    padding: 0 30px;
}
.navbar {
    position: fixed;
    width: 100%;
    z-index: 10;
    padding: 25px 0px;
    transition: all 0.3s ease;
    z-index: 100;
}
.navbar.sticky {     /*Ova klasa ce da bude dodata naknadno preko JS*/
    background-color: black;
    padding: 10px 0px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}
.navbar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a {
    color: white;  
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}
.navbar .logo span {
    color: rgb(47, 148, 243);
}
.navbar .menu-list {
    display: flex; 
}
.menu-list li {
    list-style-type: none;
}
.menu-list li a {
    color: darkgray; 
    font-size: 18px;
    font-weight: bold;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.5s ease;
}
.menu-list li a:hover {
    color: rgb(47, 148, 243);
}
.probna-slika {     
    background: url("images/pocetnaImg/livningRoom.jpg") no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}
.start-text {
  background-color: rgba(255, 255, 255, 0.2);;
  border: 1px solid white;
  border-radius: 10px;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 15%;
  left: 35%;
}
.start-text:hover {
  cursor: pointer;
  background-color: transparent;
}
.start-text .p1 {
  font-size: 2.5em;
  font-weight: bold;
  color: rgb(180, 180, 180);;
  padding: 0.5em 0.5em 0em 0.5em;
}
.start-text .p2 {
  font-size: 1.5em;
  color: rgb(180, 180, 180);;
}
.start-text .p3 {
  font-size: 1.5em;
  color: rgb(180, 180, 180);
  padding-bottom: 0.5em;
}
.start-text span {
  color: rgb(47, 148, 243);
}
.icon {
    display: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.menu-list .cancel-btn {
    position: absolute;
    right: 30px;
    top: 30px;
}
.fa-shopping-bag {
  font-size: 25px;
}
.white {
  color: white;
}
/*MAIN SECTION*/
.categories h1 {
  text-align: center;
  padding: 1em;
  color: gray;
}
.section-wrapper {
  margin: 0 100px;
}
.section-inner {
  width: 100%;
  display: grid;
  grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
}
.section-inner .livingRoom {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 3;
}
.section-inner .bedRoom {
  position: relative;
  grid-column-start: 3;
  grid-column-end: 5;
}
.section-inner .kitchen {
  position: relative;
  grid-column-start: 5;
  grid-column-end: 7;
}
.section-inner .bathRoom {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 3;
}
.section-inner .garden {
  position: relative;
  grid-column-start: 3;
  grid-column-end: 5;
}
.section-inner .workRoom {
  position: relative;
  grid-column-start: 5;
  grid-column-end: 7;
}
.section-inner div {
  overflow: hidden;
  margin: 10px;
}
.section-inner div img {
  width: 100%;
  transition: all 0.6s ease;
}
.section-inner div img:hover {
  transform: scale(1.1);
}
.section-inner p {
  position: absolute;
  font-size: 2em;
  font-weight: bold;
  color: gray;
  top: 10px;
  left: 50px;
  z-index: 10;
}
/*FILTER MENU*/
.empty-div {
  height: 150px;
}
.filter-menu {
  display: flex;
  justify-content: center;
  margin: 0 100px;
  background-color: rgb(233, 233, 233);
}
.filter-menu div {
  margin: 0 20px;
  padding: 10px 20px;
}
.custom-select {
  color: gray;
  font-size: 1.1em;
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  cursor: pointer;
  background-color: #ffffff;
}
.custom-select:focus, .custom-select:hover {
  outline: none;
  border: 1px solid #ffffff;
}
input[type=search] {
  font-size: 1.1em;
  padding: 9px 13px;
  border: none;
  border-radius: 5px;
}
input[type=search]:focus {
  outline: none;
}
input[type=checkbox] {
  /*appearance: none;*/
  /*-webkit-appearance: none;*/
  height: 20px;
  width: 20px;
  cursor: pointer;
}


/*LIVING ROOM PRODUCTS*/
.livingRoom-products {
  margin: 0 100px;
  padding: 100px 0 0 0;
}
.livingRoom-inner {
  display: flex;
  justify-content: center;
}
.LR-inner-inside {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.LR-inner-inside div {
  background-color: white;
  border: 2px solid rgb(224, 224, 224);
  height: 350px;
  margin: 5px;
}
.livingRoom-products img {
  display: flex;
  justify-content: center;
  width: 250px;
}





/*CONTACT FORM*/
.wrapper{
    margin: 50px auto;
    overflow: hidden;
    max-width: 390px;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.5);
  }
  .wrapper .title-text{
    display: flex;
    width: 200%;
  }
  .wrapper .title{
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  .wrapper .slide-controls{
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgrey;
    border-radius: 5px;
  }
  .slide-controls .slide{
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
  }
  .slide-controls label.signup{
    color: #000;
  }
  .slide-controls .slider-tab{
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
    background: linear-gradient(to right, #2F94F3 0%, #8CC8FF 100%);
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  input[type="radio"]{
    display: none;
  }
  #signup:checked ~ .slider-tab{
    left: 50%;
  }
  #signup:checked ~ label.signup{
    color: #fff;
    cursor: default;
    user-select: none;
  }
  #signup:checked ~ label.login{
    color: #000;
  }
  #login:checked ~ label.signup{
    color: #000;
  }
  #login:checked ~ label.login{
    cursor: default;
    user-select: none;
  }
  .wrapper .form-container{
    width: 100%;
    overflow: hidden;
  }
  .form-container .form-inner{
    display: flex;
    width: 200%;
  }
  .form-container .form-inner form{
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  .form-inner form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative; /*Zbog font-awesome*/
  }
  .form-inner form .field input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
  }
  .form-inner form .field input:focus{
    border-color: rgb(47, 148, 243);
  }
  .form-inner form .field input::placeholder{
    color: #999;
    transition: all 0.3s ease;
  }
  form .field input:focus::placeholder{
    color: #b3b3b3;
  }
  .form-inner form .pass-link{
    margin-top: 5px;
  }
  .form-inner form .signup-link{
    text-align: center;
    margin-top: 30px;
  }
  .form-inner form .pass-link a,
  .form-inner form .signup-link a{
    color: rgb(47, 148, 243);
    text-decoration: none;
  }
  .form-inner form .pass-link a:hover,
  .form-inner form .signup-link a:hover{
    text-decoration: underline;
  }
  form .btn{
    height: 50px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }
  form .btn .btn-layer{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: linear-gradient(to right, #2F94F3 0%, #8CC8FF 100%);
    border-radius: 5px;
    transition: all 0.4s ease;;
  }
  form .btn:hover .btn-layer{
    left: 0;
  }
  form .btn input[type="submit"]{
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    padding-left: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
  }
  .fa-check-circle, .fa-times-circle {   /*Ovo ce da se pojavljuje samo ako je regex ispravan*/
    position: absolute;
    right: 10px;
    top: 14px;
    font-size: 20px;
    display: none;
  }
  .fa-check-circle {
    color: green;
  }
  .fa-times-circle {
    color: red;
  }

/*FOOTER*/
footer {
  display: flex;
  background-color: black;
  color: white;
}
footer div {
  width: 50%;
  display: flex;
  justify-content: center;
}
footer div p {
  padding: 1.2rem 0rem;
}
footer div p span {
  color: rgb(47, 148, 243);;
}
footer div img {
  width: 4rem;
  padding: 0.6em 0.2em;
}



/*RESPONSIVE*/
@media screen and (max-width: 1230px) {
    .content {
        padding: 0px 60px;
    }
}
@media screen and (max-width: 1100px) {
    .content {
        padding: 0px 40px;
    }
}
@media screen and (max-width: 900px) {
    .content {
        padding: 0px 30px;
    }
}
@media screen and (max-width: 768px) {
    body.disabled {       /*Ovo ce da bude aktivirano sa JS*/
        overflow: hidden;
    }
    .icon {
        display: block;
    }
    .icon.hide {
        display: none;  /*Ovo ce da bude aktivirano sa JS*/
    }
    .navbar .menu-list {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0px;
        display: block;
        padding: 40px 0px;
        text-align: center;
        background-color:black;
        transition: all 0.3s ease;
    }
    .navbar.show .menu-list {    /*Ovo ce da bude kasnije aktivirano*/
        left: 0%;
    }
    .navbar .menu-list li {
        margin-top: 45px;
    }
    .navbar .menu-list li a {
        font-size: 23px;
        margin-left: -100%;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .navbar.show .menu-list li a {
        margin-left: 0px;
    }
}